.container {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

/* Fist line */
.top {
    background-color: #000;
}

.top-line {
    display: flex;
    justify-content: space-between;
    padding: 8px;


}

.top-line-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

}

.top-line-info {
    display: flex;
    color: #969696;

}

.top-line-tel {
    margin-right: 10px;
    margin-top: 2px;
}

.vl {
    border-left: 1px solid #969696;
    margin-top: 1px;
    margin-left: 10px;
    margin-right: 10px;
    height: 15px;
}

.top-line-login {
    display: flex;
    color: #969696;
}

.top-line-a {
    text-decoration: none;
    color: #969696;

}

.top-line-btn {
    margin-top: -7px;
}

.top-line-a:hover {
    text-decoration: none;
    color: #fff;
}

.top-line-login-img {
    margin-right: 10px;
    margin-top: 1px;
}

/* Second line */

.second-line {
    display: flex;
    justify-content: space-around;
    background-color: #0f0f0f;

}

.second-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-line-logo {
    margin-top: auto;
    font-family: Post No Bills Jaffna;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: #FFFFFF;

}

.second-line-btns {
    display: flex;
    justify-content: flex-end;
    width: 700px;
}

.second-line-btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #969696;
    text-align: center;
}

.second-line-btn:hover {
    background-color: #969696;
    color: #fff;
    transition: 1s;

}

.second-line-img {
    margin-left: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

/* First screen */


.first-screen {
    display: flex;
    flex-direction: column;
    background-image: url(img/screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    padding-top: 150px;
    align-items: center;
}



.fist-screen-group {
    position: absolute;
    width: 185px;
    height: 125.61px;
    left: 867px;
    top: 407.94px;
}




.fist-screen-p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    width: 730px;
    padding-bottom: 145px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.fist-screen-line {
    border: 2px solid #FFFFFF;
}

.fist-screen-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.first-screen-logo {
    width: 320px;
    margin-bottom: 80px;
}

.second-screen {
    display: flex;
}

.new-season {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #000;
}

.new-collection {
    display: flex;
    width: 50%;
}

.new-season-watch {
    display: flex;

}

.watch-img {
    max-width: 215px;

}

.new-season-watch {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
    padding-right: 80px;
    padding-left: 30px;
}

.new-season-title {
    margin-top: 105px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;



    color: #FFFFFF;

}

.new-season-cost {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;

    /* light-gray */

    color: #D0D0D0;
}

.new-season-watch-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-top: 25px;
    /* identical to box height */


    /* white */

    color: #FFFFFF;
}

.new-season-title ::after {
    content: " ";
    width: 120px;
    height: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    margin: 50px auto 50px auto;


}

.card-watch {
    margin-left: 50px;
    max-width: 260px;


}

.watch-bg {
    background-color: #191B1C;
    padding: 55px 20px 55px 20px;

}

.new-collection {
    background-image: url(img/new-collection.png);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}
.new-collection-title{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}
.new-collection-title::after {
    content: " ";
    width: 120px;
    height: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;

    margin: 25px auto 25px auto;


}
.new-collection-content{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding-bottom: 100px;
}
.new-collection-btn{
    display: inline-block;
    padding: 12px 28px 12px 28px;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    border: 1px solid #fff;
}
.new-collection-btn:hover{
    color:#000;
    background-color: #fff;
}
.collection{
    display: flex;
}

.collection-img{
    background-image: url(img/collection.jpg);
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
.collection-content{
    width: 60%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-title{
    margin-top: 115px;

    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;
text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}
.collection-title::after {
    content: " ";
    width: 120px;
    height: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 25px auto 25px auto;
}

.collection-text{
    max-width: 471px;
    
    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */

text-align: center;

/* white */

color: #FFFFFF;
}

.collection-btn{
    text-decoration: none;
    color: #fff;
    display: flex;
flex-direction: row;
align-items: center;
padding: 12px 28px;
border: 1px solid #FFFFFF;
box-sizing: border-box;
margin-bottom: 100px;
margin-top: 67px;
text-transform: uppercase;
}

.collection-btn:hover{
    color:#000;
    background-color: #fff;
}

.new-goods{
    display: flex;
    flex-direction: column;
    background-color: #000;
    align-items: center;
}
.new-goods-title{
    margin-top: 120px;
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}

.new-goods-title::after {
    content: " ";
    width: 120px;
    height: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 25px auto 25px auto;
}
.new-goods-watch{
    width: 1120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}
.card-watch-margin{
    margin-left: 25px;
}
.our-brands{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color:#0F0F0F;
}
.our-brands-title{
    font-family: Playfair Display;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
/* identical to box height */

text-align: center;
text-transform: uppercase;

/* white */

color: #FFFFFF;
margin-top: 60px;
}
.our-brands-title::after {
    content: " ";
    width: 120px;
    height: 2px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin: 25px auto 25px auto;
}
.our-brands-img{
    display: flex;
    justify-content: space-around;
    width: 1090px;
    margin-bottom: 100px;
}
.footer{
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 90px;
    padding-bottom: 100px;
}

.footer-shop, .footer-spam, .footer-category{
    width: 350px;
}
.footer-shop-title, .categoty-title, .spam-title{
    font-family: Playfair Display;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
/* identical to box height */

text-transform: uppercase;

/* white */

color: #FFFFFF;
margin-bottom: 50px;
}
.footer-shop-text, .spam-text{
font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */


/* white */

color: #FFFFFF;
}
.footer-flex{
    display: flex;
    justify-content: space-around;
}
.category-buttons{
    width: 275px;
    display: flex;
    flex-wrap: wrap;

}
.category-btn{
    text-decoration: none;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    padding: 20px;
    background-color: #000;
    color:#fff;
    text-align: center;
}
.category-btn:hover{
    color:#000;
    background-color: #fff;
}
.spam-input{
   border: none;
    background-color: rgba(255, 255, 255, 0.4);
    width: 210px;
    padding: 10px 10px 10px 10px;
    color: #fff;
}
.spam-btn{
    text-transform: uppercase;
    color:#fff;
    background-color: #000;
    padding: 10px 10px 10px 10px;
    border: none;
    margin-left: -3px;
}

.spam-input::placeholder{
    color:#fff;

}
.last-line{

    display: flex;
    justify-content: space-between;
    padding-top: 17px;

}
.last-line-bg{
    background-color: #000;
}
.last-line-text, .last-line-figma{
    font-family: PT Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height */


/* light-gray */

color: #D0D0D0;
}